body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}



h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}


.tile-image{
  height: 200px;
}


@media (min-width: 701px){
  .card{
    width: 50%;
  }

  .left{
    display: block-inline;
    float: left;
  }

  .right{
    display: block-inline;
    float: right;
  }
  
  .tile-image{
    display: inline-block;
    float: left;
  }

}


@media (max-width: 700px){
  .tile-image{
    width: 100%;
    display: block;
  }

  .left{
    display: block;
  }

  .right{
    display: block;
  }
  
}
